


.App {
  text-align: center;
  /* background-image: url('https://media.istockphoto.com/videos/retro-land-video-id1171564349?s=640x640'); */
  background-size: cover;
  height: 100%;
  /* background-color:	#0e1111; */
  color: #ffff;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
